html {
    background-image: url('../image/image.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}

div, h1, h2{
    background-color: gray;
    color: black;
    background-size:auto;
}